    <!-- 版宣-->
<footer class="clearfix">
    <div class="fpc">
        <div class="wrp-1 logo">
            <img src="~/img/fp/logo.png" alt="logo">
        </div>
        <div class="wrp-2">
            <ul>
                <li class="name">高雄特思得行旅</li>
                <li>高雄市新光路38唬24F-6</li>
                <li>訂房專線： +886-7-968-2715</li>
                <li>傳真號碼： +886-7-952-2221</li>
            </ul>
            <div class="share">
                <p class="title">Follow Us</p>
                <a target="_blank" href="https://www.facebook.com/85SkyTowerHotel" class="icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    @*<span class="text-hide">Facebook</span>*@
                </a>
                <a target="_blank" href="http://www.weibo.com/1854503391/profile?topnav=1&amp;wvr=3.6" class="icon">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    @*<span class="text-hide">Youtube</span>*@
                </a>
                <a target="_blank" href="https://plus.google.com/u/0/b/110324599943771007016" class="icon">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    @*<span class="text-hide">Google+</span>*@
                </a>
            </div>
        </div>
        <div class="wrp-3 chain">
            <span class="chainname">特思得酒店集團</span>
            <h3>特思得酒店</h3><a href="#" target="_blank">新竹特思得酒店</a> │ <a href="#" target="_blank">知本特思得酒店</a> │ <a href="#" target="_blank">礁溪特思得酒店</a> │ <a href="#" target="_blank">台北特思得酒店</a> │ <a href="#" target="_blank">北投特思得酒店</a>
            <h3>特思得行旅</h3><a href="#" target="_blank">宜蘭傳藝特思得行旅</a> │ <a href="#" target="_blank">特思得大飯店</a>
            <h3>特思得會館</h3><a href="#" target="_blank">特思得會館台北南西</a> │ <a href="#" target="_blank">特思得會館台北林森</a>
            <h3>海外酒店</h3><a href="#" target="_blank">模里西斯帝王酒店</a> │ <a href="#" target="_blank">尼加拉瓜馬拿瓜皇冠廣場飯店</a> │ <a href="#" target="_blank">帛琉特思得酒店</a> │ <a href="#" target="_blank">西貢特思得酒店</a>
        </div>
    </div>
</footer>
<!-- 版宣END -->
<!-- M版宣 -->
<footer class="fm">
    <p><a href="http://www.easytravel.com.tw/GOEasytravel.aspx?GO=http://www.easytravel.com.tw/about.aspx?NQid=10&amp;t=2017361" target="_blank">關於特思得行旅</a>│<a href="http://www.easytravel.com.tw/GOEasytravel.aspx?GO=http://www.easytravel.com.tw/about.aspx?NQid=11&amp;t=2017361" target="_blank">隱私權政策</a>│<a href="http://www.easytravel.com.tw/GOEasytravel.aspx?GO=http://www.easytravel.com.tw/servicecounter/?2017361" target="_blank">連絡我們</a></p>
    <p>Copyright Easytravel</p>
    <br>
    <p>網頁中使用之飯店照片皆由四方通行拍攝。如果有任何的拍攝服務需求，請與我們聯絡<a href="#" target="_blank" class="photo">攝影諮詢</a> </p>
</footer>
<!-- M版宣END -->