@*@{ Layout = null; }*@
<div id="LayoutVue">
    <div class="about clearfix">
        <div class="wrapper">
            <h2><p>EXQUISITE NEWS</p>旅宿之精緻住房</h2>
            特思得行旅-台南，對於人文休憩觀念的新訴求，亦或在飯店的服務設施上，
            都將擷取商旅及休閒會館經營之服務精華，以其細膩精緻、客製化為服務導向，結合週邊景點，在地活動之旅，
            『 立足東海岸 、 望眼全台灣 』，再開啟東部另一頁新休憩旅遊史！
        </div>
        <ul>
            <li class="img"><img src="~/img/fp/1024-768_01.jpg" alt="飯店圖片"></li>
            <li class="img"><img src="~/img/fp/1024-768_02.jpg" alt="飯店圖片"></li>
            <li class="img"><img src="~/img/fp/1024-768_03.jpg" alt="飯店圖片"></li>
        </ul>
    </div>
    <!-- 熱門房型 -->
    <div class="back01 clearfix">
        <div id="hot">
            <h2><P>GUEST ROOMS</P>熱門房型</h2>
            <!-- 房型01 -->
            <div class="room clearfix">
                <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                    <h3>特思得套房</h3>
                    <text>何處可以如此親近日月潭湖畔之水，靜靜傾聽鰱魚躍起之音？一切風情盡在日月潭哲園會館湖景雙人房。打開窗眼前就是一片水連天，湖水離人如此之近，心卻乘風遠...</text>
                    <div class="installation">
                        <ul class="installation-xs text-center">
                            <li><i class="serveicon no01"></i>淋浴</li>
                            <li><i class="serveicon no02"></i>浴缸</li>
                            <li><i class="serveicon no03"></i>按摩浴缸</li>
                            <li><i class="serveicon no04"></i>三溫暖</li>
                        </ul>
                    </div>
                    <a href="rooms_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                </div>
                <div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s">
                    <div class="roomslick">
                        <div class="roomimg"><img src="~/img/fp/room_01_01.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_01_02.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_01_03.jpg" alt="飯店圖片"></div>
                    </div>
                </div>
            </div>
            <!-- 房型01END -->
            <!-- 房型02 -->
            <div class="room clearfix">
                <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                    <h3>行旅客房</h3><text>何處可以如此親近日月潭湖畔之水，靜靜傾聽鰱魚躍起之音？一切風情盡在日月潭哲園會館湖景雙人房。打開窗眼前就是一片水連天，湖水離人如此之近，心卻乘風遠...</text>
                    <div class="installation">
                        <ul class="installation-xs text-center">
                            <li><i class="serveicon no01"></i>淋浴</li>
                            <li><i class="serveicon no02"></i>浴缸</li>
                            <li><i class="serveicon no03"></i>按摩浴缸</li>
                            <li><i class="serveicon no04"></i>三溫暖</li>
                        </ul>
                    </div>
                    <a href="rooms_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                </div>
                <div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s">
                    <div class="roomslick">
                        <div class="roomimg"><img src="~/img/fp/room_02_01.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_02_02.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_02_03.jpg" alt="飯店圖片"></div>
                    </div>
                </div>
            </div>
            <!-- 房型02END -->
            <!-- 房型03 -->
            <div class="room clearfix">
                <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                    <h3>風格客房</h3><text>何處可以如此親近日月潭湖畔之水，靜靜傾聽鰱魚躍起之音？一切風情盡在日月潭哲園會館湖景雙人房。打開窗眼前就是一片水連天，湖水離人如此之近，心卻乘風遠...</text>
                    <div class="installation">
                        <ul class="installation-xs text-center">
                            <li><i class="serveicon no01"></i>淋浴</li>
                            <li><i class="serveicon no02"></i>浴缸</li>
                            <li><i class="serveicon no03"></i>按摩浴缸</li>
                            <li><i class="serveicon no04"></i>三溫暖</li>
                        </ul>
                    </div>
                    <a href="rooms_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                </div>
                <div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s">
                    <div class="roomslick">
                        <div class="roomimg"><img src="~/img/fp/room_03_01.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_03_02.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_03_03.jpg" alt="飯店圖片"></div>
                    </div>
                </div>
            </div>
            <!-- 房型03END -->
            <!-- 房型04 -->
            <div class="room clearfix">
                <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                    <h3>雅緻雙人房</h3><text>何處可以如此親近日月潭湖畔之水，靜靜傾聽鰱魚躍起之音？一切風情盡在日月潭哲園會館湖景雙人房。打開窗眼前就是一片水連天，湖水離人如此之近，心卻乘風遠...</text>
                    <div class="installation">
                        <ul class="installation-xs text-center">
                            <li><i class="serveicon no01"></i>淋浴</li>
                            <li><i class="serveicon no02"></i>浴缸</li>
                            <li><i class="serveicon no03"></i>按摩浴缸</li>
                            <li><i class="serveicon no04"></i>三溫暖</li>
                        </ul>
                    </div>
                    <a href="rooms_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                </div>
                <div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s">
                    <div class="roomslick">
                        <div class="roomimg"><img src="~/img/fp/room_01.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_02.jpg" alt="飯店圖片"></div>
                        <div class="roomimg"><img src="~/img/fp/room_03.jpg" alt="飯店圖片"></div>
                    </div>
                </div>
            </div>
            <!-- 房型04END -->
        </div>
    </div>
    <!-- 熱門房型END -->
    <div class="back02">
        <!-- 最新消息 -->
        <div id="news" class="wrapper1">
            <h2><p>HOT NEWS</p>優惠活動</h2>
            <ul class="clearfix">
                <li><a href="news_detail.html" title="眼球運動│光影限定專案"><div class="newsimg"><img src="~/img/fp/news_01.jpg" alt="眼球運動│光影限定專案"></div><p class="ti">眼球運動│光影限定專案</p><span class="text">以電影做夢，用旅行追夢。喜愛徜徉在膠捲國度的旅人們，一起相約房內透過電影來場眼球運動吧！</span></a></li>
                <li><a href="news_detail.html" title="特思得大飯店限定│Mix&Match ..."><div class="newsimg"><img src="~/img/fp/news_02.jpg" alt="特思得大飯店限定│Mix&Match ..."></div><p class="ti">特思得大飯店限定│Mix&Match ...</p><span class="text">壹人的月光，獨享思念；貳人的月光，相知相惜叁人以上，月光裡團圓；中秋幾何，都美。</span></a></li>
                <li>
                    <a href="news_detail.html" title="⚡ 好評延長 ⚡ 極靜省續住搶訂特思得">
                        <div class="col2"><div class="daystyle">2017/09/17<i class="fa fa-chevron-down" aria-hidden="true"></i>2017/09/30</div></div>
                        <div class="col10">
                            <p class="ti">⚡ 好評延長 ⚡ 極靜省續住搶訂特思得</p>
                            <span class="text">⚡好評延長⚡暑假Bye bye👋 屁孩兒都乖乖返校嘞~別擔心了，不用人擠人，整個飯店都是你的度假主場，一起帶著悠閒、輕鬆的心，來場白日夢小旅行💭💤 🍸微醺慵懶的特思得大飯店三天兩夜行旅客房雙人每房$4998NET/2晚，不含早，假日不加價兩天...</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news_detail.html" title="行旅II│6789 gallery主題展">
                        <div class="col2"><div class="daystyle">2017/09/08<i class="fa fa-chevron-down" aria-hidden="true"></i>2018/02/28</div></div>
                        <div class="col10">
                            <p class="ti">行旅II│6789 gallery主題展</p>
                            <span class="text">行旅II Experience the City -6789gallery主題展 當思想揉捏成城市的形狀，旅人於是成真。As the city is within our minds, we turn into traveller...</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news_detail.html" title="開麥拉│電影專案">
                        <div class="col2"><div class="daystyle">2017/09/01<i class="fa fa-chevron-down" aria-hidden="true"></i>2017/11/30</div></div>
                        <div class="col10">
                            <p class="ti">開麥拉│電影專案</p>
                            <span class="text">相輔相成的旅行與電影，以大螢幕的故事來翻開旅行的一頁！ ●　適用期間：2017.09.01~2017.11.30●　專案房價：NT$3,600+10%起●　專案內容：1. 特思得大飯店住宿一晚2. 依房型人數提供中西自助式早餐3. 依房型人數提供威秀...</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="news_detail.html" title="兜兜風│高鐵聯票住房專案">
                        <div class="col2"><div class="daystyle">2017/09/01<i class="fa fa-chevron-down" aria-hidden="true"></i>2017/10/31</div></div>
                        <div class="col10">
                            <p class="ti">兜兜風│高鐵聯票住房專案</p>
                            <span class="text">一城一景一世界，涼涼兜風全玩遍專案另享有高鐵標準車廂對號或商務車廂全額票價8折！ ●　適用期間：2017/09/01~2017/10/31●　專案房價： NT$3,600+10%起●　專案內容：1. 特思得大飯店客房住宿一晚2. 依房型提供「兜風騎乘...</span>
                        </div>
                    </a>
                </li>


            </ul>
        </div>
    </div>
    <!-- 最新消息END -->
    <!-- 飯店設施 -->
    <div id="facility">
        <h2><p>SERVICE FACILITIES</p>餐飲設施</h2>
        <ul class="clearfix">
            <li>
                <div class="ti">甘情商號</div><img src="~/img/fp/facility_01.jpg">
                <div class="overlay">
                    <div class="text">
                        <p>甘情商號</p>
                        <div class="text_hidden">感情</div>
                        <a href="facility_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="ti">甘粹餐廳</div><img src="~/img/fp/facility_02.jpg">
                <div class="overlay">
                    <div class="text">
                        <p>甘粹餐廳</p>
                        <div class="text_hidden">
                            精選細選的設計文創伴手禮賣店旅行的回憶，大多無形，卻也可以有形。旅途的感動，大多剎那，卻也可以延續。特思得大飯店打造「甘情商號」，希望透過精挑細選的設計品項，
                            讓旅人與家人、情人、友人、或是台南維持「尚好ㄟ感情」。
                        </div>
                        <a href="facility_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="ti">6789 Gallery</div><img src="~/img/fp/facility_03.jpg">
                <div class="overlay">
                    <div class="text">
                        <p>6789 Gallery</p>
                        <div class="text_hidden">
                            因為相信台南還有很多可能性，所以留了空間來激發無限創意。
                            也許是台南在地人的發聲，也許是國際創作者對台南的想像，也許是雙方交流後的火花。
                            更也許你就是與之互動的一份子。
                            【所在樓層】6F、7F、8F、9F
                        </div>
                        <a href="facility_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="ti">天甘降霖會議空間</div><img src="~/img/fp/facility_04.jpg">
                <div class="overlay">
                    <div class="text">
                        <p>天甘降霖會議空間</p>
                        <div class="text_hidden">
                            精選細選的設計文創伴手禮賣店旅行的回憶，大多無形，卻也可以有形。旅途的感動，大多剎那，卻也可以延續。特思得大飯店打造「甘情商號」，希望透過精挑細選的設計品項，
                            讓旅人與家人、情人、友人、或是台南維持「尚好ㄟ感情」。
                        </div>
                        <a href="facility_detail.html" class="btn btn-white-border" title="詳細內容">詳細內容</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- 飯店設施END -->
</div>   
@section Scripts{
    <script>
        //登入註冊
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });
        $('.carousel').carousel({
            interval: false
        })
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(window).resize(function () {
            var w = $(this).width();
            if (w > 1024) {

                $("#mySidenav").css("width", "100%");
            } else {

                $("#mySidenav").css("width", "0");
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#head-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                autoplay: true,
                fade: true,
                arrows: false,
                cssEase: 'linear'
            });
            $('.roomslick').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true, arrows: false,
                cssEase: 'linear',
            });
            $('.single-item').slick();
        });
        $(function () {
            $("#tt").click(function () {
                $("#OPEN").addClass("animated fadeInRightBig floatLeft");
            })
        });
    </script>
    <script src="~/js/fp/scrollReveal.js"></script>
    <script>
        $(function () {
            var config = {
                reset: false,
                mobile: false,
                delay: 'onload'
            }
            window.sr = new scrollReveal(config);
        });
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'zh-TW', includedLanguages: 'en,ja,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
}