@*@{
    //ViewData["Title"] = "";
}*@
@*@section Styles{
}*@
<main class="app-content">
    <!-- 所在位置 -->
    <div class="app-title">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">首頁</a></li>
        </ol>
    </div>
    <!-- 所在位置 end-->
    <!-- 內容 -->
    <div class=" tile">
            <div class="tabs mt-none">
                <ul class="nav nav-tabs nav-justifie">
                    <li class="active"><a href="#list" data-toggle="tab"><i class="fa fa-list"></i>　公告</a></li>
                </ul>
            <div class="tab-content">
                <div class="text-center">
                    <div>
                        <h1 style="padding:20vh">歡迎登入</h1>
                    </div>
                </div>
           </div>
        </div>
    </div>
</main>