<div class="pheight"></div>
<div id="vuevuevuevue">
    <div id="hot">
        <!-- 房型01 -->
        <div class="room clearfix">
            <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                <h3>特級雙人房</h3><text>
                    ♦本房型未提供加人及加床服務。&nbsp;&nbsp; &nbsp;

                    ♦寵物及單車不可進房

                    ♦全館皆提供無線上網...
                </text><div class="facility_photo_icon"><ul><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no01.png" alt="淋浴" title="淋浴"><div class="tiname">淋浴</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no02.png" alt="浴缸" title="浴缸"><div class="tiname">浴缸</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no06.png" alt="備品" title="備品"><div class="tiname">備品</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no07.png" alt="電視" title="電視"><div class="tiname">電視</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no10.png" alt="電話" title="電話"><div class="tiname">電話</div></li></ul></div><a href="rooms_detail.aspx?rno=2" class="btn btn-white-border" title="詳細內容">詳細內容</a>
            </div><div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s"><div class="roomslick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 340px;"><div class="slick-track" style="opacity: 1; width: 3684px; transform: translate3d(-614px, 0px, 0px);" role="listbox"><div class="roomimg slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20221014235223_2.jpg" alt="浴缸" title="浴缸"></div><div class="roomimg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921183055_2.jpg" alt="特級雙人房" title="特級雙人房"></div><div class="roomimg slick-slide" data-slick-index="1" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_2_20220921183055_2.jpg" alt="特級雙人房1" title="特級雙人房1"></div><div class="roomimg slick-slide" data-slick-index="2" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921183317_2.jpg" alt="特級雙人房3" title="特級雙人房3"></div><div class="roomimg slick-slide" data-slick-index="3" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide03"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20221014235223_2.jpg" alt="浴缸" title="浴缸"></div><div class="roomimg slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921183055_2.jpg" alt="特級雙人房" title="特級雙人房"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul></div></div>
        </div><div class="room clearfix">
            <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                <h3>豪華雙人房</h3><text>
                    ♦本房型未提供加人及加床服務。&nbsp;&nbsp;&nbsp;&nbsp;

                    ♦寵物及單車不可進房

                    ♦全館皆提...
                </text><div class="facility_photo_icon"><ul><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no01.png" alt="淋浴" title="淋浴"><div class="tiname">淋浴</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no02.png" alt="浴缸" title="浴缸"><div class="tiname">浴缸</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no06.png" alt="備品" title="備品"><div class="tiname">備品</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no07.png" alt="電視" title="電視"><div class="tiname">電視</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no10.png" alt="電話" title="電話"><div class="tiname">電話</div></li></ul></div><a href="rooms_detail.aspx?rno=1" class="btn btn-white-border" title="詳細內容">詳細內容</a>
            </div><div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s"><div class="roomslick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 340px;"><div class="slick-track" style="opacity: 1; width: 3684px; transform: translate3d(-614px, 0px, 0px);" role="listbox"><div class="roomimg slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921230347_2.jpg" alt="豪華雙人房5" title="豪華雙人房5"></div><div class="roomimg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide10"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_5_20220921181708_2.jpg" alt="豪華雙人房" title="豪華雙人房"></div><div class="roomimg slick-slide" data-slick-index="1" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide11"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_4_20220921181708_2.jpg" alt="豪華雙人房4" title="豪華雙人房4"></div><div class="roomimg slick-slide" data-slick-index="2" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide12"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921181708_2.jpg" alt="豪華房型-膠囊咖啡機" title="豪華房型-膠囊咖啡機"></div><div class="roomimg slick-slide" data-slick-index="3" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide13"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921230347_2.jpg" alt="豪華雙人房5" title="豪華雙人房5"></div><div class="roomimg slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_5_20220921181708_2.jpg" alt="豪華雙人房" title="豪華雙人房"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation12" id="slick-slide12"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation13" id="slick-slide13"><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul></div></div>
        </div><div class="room clearfix">
            <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                <h3>溫馨四人房</h3><text>
                    ♦本房型未提供加人及加床服務。&nbsp;&nbsp;&nbsp;&nbsp;

                    ♦寵物及單車不可進房

                    ♦全館皆提...
                </text><div class="facility_photo_icon"><ul><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no01.png" alt="淋浴" title="淋浴"><div class="tiname">淋浴</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no02.png" alt="浴缸" title="浴缸"><div class="tiname">浴缸</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no06.png" alt="備品" title="備品"><div class="tiname">備品</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no07.png" alt="電視" title="電視"><div class="tiname">電視</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no09.png" alt="梳妝台" title="梳妝台"><div class="tiname">梳妝台</div></li></ul></div><a href="rooms_detail.aspx?rno=3" class="btn btn-white-border" title="詳細內容">詳細內容</a>
            </div><div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s"><div class="roomslick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 340px;"><div class="slick-track" style="opacity: 1; width: 3684px; transform: translate3d(-614px, 0px, 0px);" role="listbox"><div class="roomimg slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_8_20220921181421_2.jpg" alt="溫馨四人房7" title="溫馨四人房7"></div><div class="roomimg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide20"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_2_20220921181421_2.jpg" alt="溫馨四人房1" title="溫馨四人房1"></div><div class="roomimg slick-slide" data-slick-index="1" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide21"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_9_20220921181254_2.jpg" alt="溫馨四人房" title="溫馨四人房"></div><div class="roomimg slick-slide" data-slick-index="2" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide22"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_4_20220921181421_2.jpg" alt="溫馨四人房2" title="溫馨四人房2"></div><div class="roomimg slick-slide" data-slick-index="3" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide23"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_8_20220921181421_2.jpg" alt="溫馨四人房7" title="溫馨四人房7"></div><div class="roomimg slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_2_20220921181421_2.jpg" alt="溫馨四人房1" title="溫馨四人房1"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation20" id="slick-slide20"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation22" id="slick-slide22"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation23" id="slick-slide23"><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul></div></div>
        </div><div class="room clearfix">
            <div class="c_text" data-sr="enter left over 0.8s and move 50px wait 0.1s">
                <h3>豪華四人房</h3><text>
                    ♦本房型未提供加人及加床服務。&nbsp;&nbsp;&nbsp;&nbsp;

                    ♦寵物及單車不可進房

                    ♦全館皆提...
                </text><div class="facility_photo_icon"><ul><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no01.png" alt="淋浴" title="淋浴"><div class="tiname">淋浴</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no02.png" alt="浴缸" title="浴缸"><div class="tiname">浴缸</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no06.png" alt="備品" title="備品"><div class="tiname">備品</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no07.png" alt="電視" title="電視"><div class="tiname">電視</div></li><li><img src="https://bentley-hotel.com.tw/Upload/facility_icon/no09.png" alt="梳妝台" title="梳妝台"><div class="tiname">梳妝台</div></li></ul></div><a href="rooms_detail.aspx?rno=4" class="btn btn-white-border" title="詳細內容">詳細內容</a>
            </div><div class="c_photo" data-sr="enter right over 0.8s and move 50px wait 0.1s"><div class="roomslick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 340px;"><div class="slick-track" style="opacity: 1; width: 3684px; transform: translate3d(-614px, 0px, 0px);" role="listbox"><div class="roomimg slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_3_20220921230846_2.jpg" alt="家庭房&nbsp;&nbsp;(4)" title="家庭房&nbsp;&nbsp;(4)"></div><div class="roomimg slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide30"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_11_20220921181421_2.jpg" alt="豪華四人房 (2)" title="豪華四人房 (2)"></div><div class="roomimg slick-slide" data-slick-index="1" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide31"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_12_20220921181421_2.jpg" alt="豪華四人房" title="豪華四人房"></div><div class="roomimg slick-slide" data-slick-index="2" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide32"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_1_20220921181708_2.jpg" alt="豪華房型-膠囊咖啡機" title="豪華房型-膠囊咖啡機"></div><div class="roomimg slick-slide" data-slick-index="3" aria-hidden="true" style="width: 614px;" tabindex="-1" role="option" aria-describedby="slick-slide33"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_3_20220921230846_2.jpg" alt="家庭房&nbsp;&nbsp;(4)" title="家庭房&nbsp;&nbsp;(4)"></div><div class="roomimg slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 614px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_11_20220921181421_2.jpg" alt="豪華四人房 (2)" title="豪華四人房 (2)"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation30" id="slick-slide30"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation31" id="slick-slide31"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation32" id="slick-slide32"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation33" id="slick-slide33"><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul></div></div>
        </div>
        <!-- 房型END -->
    </div>
</div>
@section Scripts{
    <script>
        //登入註冊
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });
        $('.carousel').carousel({
            interval: false
        })
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(window).resize(function () {
            var w = $(this).width();
            if (w > 1024) {

                $("#mySidenav").css("width", "100%");
            } else {

                $("#mySidenav").css("width", "0");
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#head-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                autoplay: true,
                fade: true,
                arrows: false,
                cssEase: 'linear'
            });
            $('.roomslick').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true, arrows: false,
                cssEase: 'linear',
            });
            $('.single-item').slick();
        });
        $(function () {
            $("#tt").click(function () {
                $("#OPEN").addClass("animated fadeInRightBig floatLeft");
            })
        });
    </script>
    <script src="~/js/fp/scrollReveal.js"></script>
    <script>
        $(function () {
            var config = {
                reset: false,
                mobile: false,
                delay: 'onload'
            }
            window.sr = new scrollReveal(config);
        });
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'zh-TW', includedLanguages: 'en,ja,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
}