<div class="pheight"></div>
<div id="vuevuevuevue">
    <div id="detail">
        <div class="wrapper clearfix">
            <h2>週邊景點</h2>
            <div class="select-menu">
                <div class="select-menu-div">
                    <input id="No1" readonly="" class="select-menu-input" value="所有景點">
                    <i class="fa fa-caret-down"></i>
                </div>
                <ul class="select-menu-ul">
                    <li data-cno="1" class="select-this">自然風景區</li>
                    <li data-cno="5">觀光工廠</li>
                    <li data-cno="6">美食探訪</li>
                </ul>
            </div>
            <div class="sights_ti">自然風景區</div>
            <div class="editor sights" id="sights_list">
                <ul>
                    <li>
                        <div class="pic"><img src="https://bentley-hotel.com.tw/Upload/picture/b/4_1_20221014235916_2.jpg"></div><text>
                            <div class="sights_name">Xpark水族館</div><p>2020年8月剛開幕的Xpark水族館，由日本橫濱八景島首度跨海來台開設，Xpark主打新都會型水族館，館內使用最先端的科技，營造出如同野外環境的溫度、濕度、氣味、聲音，逼真的沉浸空間讓人忘了身處台灣，彷彿走進地球上每個不可思議的角落。</p>

                            <p>
                                <br>
                                資料來源：<a href="https://guide.easytravel.com.tw/scenic/167527" target="_blank">四方通行旅遊網</a>
                            </p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"><img src="https://bentley-hotel.com.tw/Upload/picture/b/4_2_20221014235916_2.jpg"></div><text>
                            <div class="sights_name">小人國</div><p>
                                小人國主題樂園位於桃園龍潭，交通便利氣候宜人，連續22年榮獲台灣交通部觀光局評定為特優等遊樂區，並榮登米其林台灣旅遊綠色指南推薦景點，被譽為全台灣最棒的親子遊樂園！<br>
                                <br>
                                資訊來源：<a href="https://guide.easytravel.com.tw/scenic/1582" target="_blank">四方通行旅遊網</a>
                            </p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"><img src="https://bentley-hotel.com.tw/Upload/picture/b/4_3_20221014235916_2.jpg"></div><text>
                            <div class="sights_name">六福村主題遊樂園</div><p>
                                六福村主題遊樂園位於新竹縣的關西鎮，原本主要營運是以放養野生動物為著名，於民國78年正式轉型，並將其重新設置了多重遊樂設施，打造真實與夢幻交織的四大主題村，像是中東夢幻之城「阿拉伯皇宮」、狂野慓悍之「美國大西部」、熱情浪漫「南太平洋」及富有生態教育意義的「野生動物王國」這四大主題風情區，是一處適合闔家蒞臨參觀具有教育及休閒的育樂觀光天地。<br>
                                <br>
                                資料來源：<a href="https://guide.easytravel.com.tw/scenic/345" target="_blank">四方通行旅遊網</a>
                            </p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"></div><text>
                            <div class="sights_name">石門水庫</div><p>
                                石門水庫在大漢溪中地帶，大溪鎮和龍潭鄉之間，水源來自大壩尖山北方，有如一個峽谷一般風光秀麗。石門水庫於民國五十三年建立完成，水壩高一百三十五公司，最高蓄水量是六十八萬立方公司，有防洪、觀光、灌溉等之效。在大壩西邊的入口處右方順著松林小徑往上走，可到達山頂處，風景十分宜人整個水庫盡收眼底，是一大特色 。<br>
                                <br>
                                資料來源：<a href="https://guide.easytravel.com.tw/scenic/167" target="_blank">四方通行旅遊網</a>
                            </p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"></div><text>
                            <div class="sights_name">大溪老街</div><p>　　大溪老街主要範圍涵蓋中山路、和平路、中央路三條歷史街屋，完整的保留建築外觀及牌樓立面，建築形式和台灣早期的傳統商家相同，都是店面連同住宅的「街屋」形式。從日據時代的「市區改正」計畫開始，當地居民爭相以牌樓裝飾各家門戶，爭奇鬥豔、極為華麗！平常住家以紅磚牌樓搭配紅磚屋，商家則是以精緻歐洲風格的樑柱拱門和繁複細膩的浮雕裝飾，呈現出充滿巴洛克風情的立面牌樓！</p>

                            <p>&nbsp;</p>

                            <p>資料來源：<a href="https://guide.easytravel.com.tw/scenic/184" target="_blank">四方通行旅遊網</a></p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"></div><text>
                            <div class="sights_name">小烏來天空步道</div><p>　　小烏來天空步道位於桃園縣復興鄉的小烏來風景區知名的風動石步道旁，自民國100年7月2日開放以來，已吸引許多慕名前往的民眾。此座全國唯一的天空步道斥資八百萬元打造，站在天空步道的玻璃橋面上，可俯瞰氣勢奔騰的著名的小烏來瀑布滾滾流動於腳下，距離下方瀑布群不到二十公尺，相當壯觀。</p>

                            <p>&nbsp;</p>

                            <p>資料來源：<a href="https://guide.easytravel.com.tw/scenic/3758" target="_blank">四方通行旅遊網</a></p>
                        </text>
                    </li>
                    <li>
                        <div class="pic"></div><text>
                            <div class="sights_name">永安漁港</div><p>　永安漁港舊時稱崁頭厝港，本來只是一個小港口而已，經過多年來的整修、增建堤防、開發新碼頭等，才有現在這麼大的規模。此處的漁獲都非常新鮮，價格非常便宜，皆以販售烏魚、小卷、鰹、黃花魚及鯊為主。漁港直銷中心還有在販售熱食，鄰近的海產店也推出了許多百元熱炒，吸引了不少觀光客停下來享用美食。</p>

                            <p>&nbsp;</p>

                            <p>資料來源：<a href="https://guide.easytravel.com.tw/scenic/3337" target="_blank">四方通行旅遊網</a></p>
                        </text>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 詳細頁END -->

    </div>
</div>
@section Scripts{
    <script>
        //登入註冊
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });
        $('.carousel').carousel({
            interval: false
        })
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(window).resize(function () {
            var w = $(this).width();
            if (w > 1024) {

                $("#mySidenav").css("width", "100%");
            } else {

                $("#mySidenav").css("width", "0");
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#head-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                autoplay: true,
                fade: true,
                arrows: false,
                cssEase: 'linear'
            });
            $('.roomslick').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true, arrows: false,
                cssEase: 'linear',
            });
            $('.single-item').slick();
        });
        $(function () {
            $("#tt").click(function () {
                $("#OPEN").addClass("animated fadeInRightBig floatLeft");
            })
        });
    </script>
    <script src="~/js/fp/scrollReveal.js"></script>
    <script>
        $(function () {
            var config = {
                reset: false,
                mobile: false,
                delay: 'onload'
            }
            window.sr = new scrollReveal(config);
        });
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'zh-TW', includedLanguages: 'en,ja,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
}