@{
    ViewData["Title"] = "房況 - ";
}
<main class="app-content">
    <div class="app-title">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#">房況</a></li>
        </ol>
    </div>
    <!-- 內容 -->
    <div class=" tile">
        <div class="tabs mt-none">
            <ul class="nav nav-tabs nav-justifie">
                <li class="active"><a href="#list" data-toggle="tab"><i class="fa fa-list"></i>　查詢列表</a></li>
            </ul>
            <div class="tab-content">
                <div class="text-center">
                    <div>
                        <h1 style="padding:20vh">尚未新增</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>