<div class="pheight"></div>
<div id="vuevuevuevue">
    <div id="insidepage" class="clearfix">
        <ul>
            <li class="wrp50"><div class="col_01"><div class="pageimg slick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 3065px; transform: translate3d(-613px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/6_2_20220921181739_2.JPG" alt="餐廳(1)" title="餐廳(1)"></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide00"><img src="https://bentley-hotel.com.tw/Upload/picture/b/6_4_20220921181739_2.JPG" alt="餐廳(4)" title="餐廳(4)"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide01"><img src="https://bentley-hotel.com.tw/Upload/picture/b/6_1_20220921181739_2.jpg" alt="早餐餐廳" title="早餐餐廳"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide02"><img src="https://bentley-hotel.com.tw/Upload/picture/b/6_2_20220921181739_2.JPG" alt="餐廳(1)" title="餐廳(1)"></div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/6_4_20220921181739_2.JPG" alt="餐廳(4)" title="餐廳(4)"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li></ul></div></div><div class="col_02"><p class="ti">餐廳</p><span class="text">．提供住宿房客自助式中/西式早餐服務，用餐時間：早上7點～10點</span><div class="text-center"><a href="facility_detail.aspx?No=6" title="" class="btn btn-white-border">詳細內容 </a></div></div></li>
            <li class="wrp50">
                <div class="col_01"><div class="pageimg slick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 2452px; transform: translate3d(-613px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20220922223728_2.jpg" alt="電動車充電椿" title="電動車充電椿"></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide10"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20221014234732_2.jpg" alt="電動車充電椿2" title="電動車充電椿2"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide11"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20220922223728_2.jpg" alt="電動車充電椿" title="電動車充電椿"></div><div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20221014234732_2.jpg" alt="電動車充電椿2" title="電動車充電椿2"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation10" id="slick-slide10"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation11" id="slick-slide11"><button type="button" data-role="none" role="button" tabindex="0">2</button></li></ul></div></div><div class="col_02">
                    <p class="ti">特斯拉（Tesla）充電樁</p><span class="text">
                        中壢賓利精緻酒店，設有特斯拉（Tesla）充電樁❗️
                        住宿專屬免費充電
                    </span><div class="text-center"><a href="facility_detail.aspx?No=7" title="" class="btn btn-white-border">詳細內容 </a></div>
                </div>
            </li>
            <li class="wrp50">
                <div class="col_01"><div class="pageimg slick slick-initialized slick-slider"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 613px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide20"><img src="https://bentley-hotel.com.tw/Upload/picture/b/3_8_20220921181254_2.JPG" alt="會議室" title="會議室"></div></div></div></div></div><div class="col_02">
                    <p class="ti">會議室</p><span class="text">
                        寬敞舒適的會議室，
                        適合學生團體及業務商談事宜，
                        備有投影設備只要連
                    </span><div class="text-center"><a href="facility_detail.aspx?No=1" title="" class="btn btn-white-border">詳細內容 </a></div>
                </div>
            </li>
            <li class="wrp50">
                <div class="col_01"><div class="pageimg slick slick-initialized slick-slider"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 613px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide30"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_3_20220921181802_2.jpg" alt="健身房" title="健身房"></div></div></div></div></div><div class="col_02">
                    <p class="ti">健身房</p><span class="text">
                        賓利酒店備有專業級健身器材，
                        房客享有健身器材免費體驗，
                        跑步機&amp;健
                    </span><div class="text-center"><a href="facility_detail.aspx?No=4" title="" class="btn btn-white-border">詳細內容 </a></div>
                </div>
            </li>
            <li class="wrp50"><div class="col_01"><div class="pageimg slick slick-initialized slick-slider"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 613px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide40"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20220921181802_2.jpg" alt="休息區" title="休息區"></div></div></div></div></div><div class="col_02"><p class="ti">交誼廳</p><span class="text"></span><div class="text-center"><a href="facility_detail.aspx?No=5" title="" class="btn btn-white-border">詳細內容 </a></div></div></li>
            <li class="wrp50">
                <div class="col_01"><div class="pageimg slick slick-initialized slick-slider slick-dotted" role="toolbar"><div aria-live="polite" class="slick-list draggable" style="height: 350px;"><div class="slick-track" style="opacity: 1; width: 2452px; transform: translate3d(-613px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_2_20221014234451_2.jpg" alt="賓士停車場2" title="賓士停車場2"></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide50"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20221014234451_2.jpg" alt="賓士停車場" title="賓士停車場"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 613px;" tabindex="-1" role="option" aria-describedby="slick-slide51"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_2_20221014234451_2.jpg" alt="賓士停車場2" title="賓士停車場2"></div><div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" style="width: 613px;" tabindex="-1"><img src="https://bentley-hotel.com.tw/Upload/picture/b/5_1_20221014234451_2.jpg" alt="賓士停車場" title="賓士停車場"></div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation50" id="slick-slide50"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation51" id="slick-slide51"><button type="button" data-role="none" role="button" tabindex="0">2</button></li></ul></div></div><div class="col_02">
                    <p class="ti">停車場</p><span class="text">
                        備有免費停車場，露天停車場可停約10部，機械式停車場可停約28部。
                        ‼
                    </span><div class="text-center"><a href="facility_detail.aspx?No=8" title="" class="btn btn-white-border">詳細內容 </a></div>
                </div>
            </li>
        </ul>

        <!-- 飯店設施END -->
    </div>
</div>
@section Scripts{
    <script>
        //登入註冊
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });
        $('.carousel').carousel({
            interval: false
        })
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        $(window).resize(function () {
            var w = $(this).width();
            if (w > 1024) {

                $("#mySidenav").css("width", "100%");
            } else {

                $("#mySidenav").css("width", "0");
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#head-carousel').slick({
                dots: true,
                infinite: true,
                speed: 500,
                autoplay: true,
                fade: true,
                arrows: false,
                cssEase: 'linear'
            });
            $('.roomslick').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true, arrows: false,
                cssEase: 'linear',
            });
            $('.single-item').slick();
        });
        $(function () {
            $("#tt").click(function () {
                $("#OPEN").addClass("animated fadeInRightBig floatLeft");
            })
        });
    </script>
    <script src="~/js/fp/scrollReveal.js"></script>
    <script>
        $(function () {
            var config = {
                reset: false,
                mobile: false,
                delay: 'onload'
            }
            window.sr = new scrollReveal(config);
        });
    </script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'zh-TW', includedLanguages: 'en,ja,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
}