@{
    //ViewData["Title"] = "";
}
@*<h1>@ViewData["Title"]</h1>*@

<main class="app-content">
            <!-- 所在位置 -->
            <div class="app-title">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">系統管理</li>
                    <li class="breadcrumb-item active">最新消息</li>
                </ol>
            </div>
            <!-- 所在位置 end-->
            <!-- 內容 -->
            <div class=" tile">
                <div class="tabs mt-none">
                    <ul class="nav nav-tabs nav-justifie">
                        <li class="active"><a href="#list" data-toggle="tab"><i class="fa fa-list"></i>列表</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active clearfix" id="home">
                            <!-- form -->
                            <form class="form-horizontal" id="form1" action="EH_News_List.aspx" method="post" name="form1" enctype="multipart/form-data">
                                <input type="hidden" name="AVG" id="AVG" value="&amp;">
                                <input type="hidden" name="OrderBase" value="4">
                                <input type="hidden" name="Order" value="0">
                                <input type="hidden" name="Page" value="1">
                                <input type="hidden" name="OrderClass" value="">
                                <input type="hidden" name="flag" value="">
                                <input type="hidden" name="No" value="">
                                <!---->
                                <div class="row">
                                    <div class="form-group row col-md-3">
                                        <label class="control-label col-md-3">搜尋</label>
                                        <div class="col-md-9">
                                            <input class="form-control" type="text" id="SerchContent" name="SerchContent" placeholder="搜尋" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3">
                                        <label class="control-label col-md-3">
                                            搜尋欄位
                                        </label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="SerchKey" name="SerchKey">
                                                <option value="EHotel_News.NTitle">標題名稱</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row col-md-3">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary viewimage" onclick="sys.SH('form1','EH_News_List.aspx');"><i class="fa fa-search"></i>查詢</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal row form-inline md" id="tabletop">
                                    <div class="col-sm-6">
                                        <div class="padl">
                                            <input type="checkbox" id="checkAll" onclick="sys.CheckAll(); ">全選 <button class="btn btn-danger deldata ml1" type="button" onclick="sys.Del('form1', 'EH_News_.aspx');"><i class="fa fa-remove"></i>刪除</button><button class="btn btn-success ml1" type="button" onclick="sys.Send('form1', 'EH_News_A.aspx');"><i class="fa fa-plus-square-o"></i>新增</button><button class="btn btn-info ml1" id="FastOrder" type="button"><i class="fa fa-reorder"></i>快速排序</button>
                                        </div>
                                    </div>
                                </div>

                                <table class="table rwd-table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1"></th>
                                            <th class="col-md-1">操作</th>
                                            <th class="col-md-1"><a href="javascript:void(0)" onclick="sys.OrderField('form1',1,1);"><i class="fa fa-fw fa-sort"></i>編號</a></th>
                                            <th>標題名稱</th>
                                            <th>顯示圖片</th>
                                            <th><a href="javascript:void(0)" onclick="sys.OrderField('form1',2,1);"><i class="fa fa-fw fa-sort"></i>發布狀態</a></th>
                                            <th><a href="javascript:void(0)" onclick="sys.OrderField('form1',3,1);"><i class="fa fa-fw fa-sort"></i>異動時間</a></th>
                                            <th><a href="javascript:void(0)" onclick="sys.OrderField('form1',4,1);"><i class="fa fa-fw fa-sort"></i>排序</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr><td data-th="刪除"><input name="del_code" class="del_code" type="checkbox" value="1"></td><td data-th="操作"><a class="btn btn-success" title="編輯" href="javascript:void(0)" onclick="sys.UP('form1',1,'EH_News_M.aspx')"><i class="fa fa-edit"></i>編輯</a></td><td data-th="編號">1</td><td data-th="標題名稱">好像有人想要飯店</td><td data-th="圖示"></td><td data-th="發佈狀態">已發布</td><td data-th="異動時間">2023-04-17 10:20:35</td><td data-th="排序">40</td></tr><tr><td data-th="刪除"><input name="del_code" class="del_code" type="checkbox" value="3"></td><td data-th="操作"><a class="btn btn-success" title="編輯" href="javascript:void(0)" onclick="sys.UP('form1',3,'EH_News_M.aspx')"><i class="fa fa-edit"></i>編輯</a></td><td data-th="編號">3</td><td data-th="標題名稱">我也不是一定要飯店啦</td><td data-th="圖示"></td><td data-th="發佈狀態">已發布</td><td data-th="異動時間">2023-04-17 10:20:24</td><td data-th="排序">60</td></tr><tr><td data-th="刪除"><input name="del_code" class="del_code" type="checkbox" value="4"></td><td data-th="操作"><a class="btn btn-success" title="編輯" href="javascript:void(0)" onclick="sys.UP('form1',4,'EH_News_M.aspx')"><i class="fa fa-edit"></i>編輯</a></td><td data-th="編號">4</td><td data-th="標題名稱">總是要有第一次</td><td data-th="圖示"></td><td data-th="發佈狀態">停止</td><td data-th="異動時間">2023-04-13 17:55:36</td><td data-th="排序">80</td></tr><tr><td data-th="刪除"><input name="del_code" class="del_code" type="checkbox" value="2"></td><td data-th="操作"><a class="btn btn-success" title="編輯" href="javascript:void(0)" onclick="sys.UP('form1',2,'EH_News_M.aspx')"><i class="fa fa-edit"></i>編輯</a></td><td data-th="編號">2</td><td data-th="標題名稱">我也不是一定要飯店啦</td><td data-th="圖示"></td><td data-th="發佈狀態">已發布</td><td data-th="異動時間">2023-04-12 16:08:09</td><td data-th="排序">100</td></tr>
                                    </tbody>
                                </table>

                            </form>
                            <!-- form -->
                        </div>
                    </div>
                </div>
            </div>
        </main>